.cssAnimation {
    div {
        width: 250px;
        height: 250px;
    }
    .stretch {
        @include animation('stretch 3s ease-out 3s infinite alternate;');
    }
    .opacity {
        background: $green;
        @include animation('opacity 3s linear 3s infinite alternate;');
    }
}
