.cssAnimation {
    background: $black;
    .imageContainer {
        margin: 0 auto;
        img {
            width: 400px;
            height: 200px;
            margin: 20px;
            display: inline-block;
            border: 10px solid $pink;
            @include opacity();
            @include transform();
            &:hover,
            &:focus {
                @include opacity(1);
                @include animation('thumbTilt 1s ease-in both');
            }
        }
    }
}
