@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browser: '-webkit-' !global;
        @content;
    }
    @-moz-keyframes #{$animationName} {
        $browser: '-moz-' !global;
        @content;
    }
    @-o-keyframes #{$animationName} {
        $browser: '-o-' !global;
        @content;
    }
    @keyframes #{$animationName} {
        $browser: '' !global;
        @content;
    }
}

$browser: null;
@mixin opacity($percentage: .5) {
    opacity: $percentage;
    -webkit-opacity: $percentage;
    -moz-opacity: $percentage;
    -o-opacity: $percentage;
}

@mixin transform($perspective: 400px, $degree: 8deg, $scale: 1) {
    transform: perspective($perspective) rotateY($degree) scale($scale);
    -webkit-transform: perspective($perspective) rotateY($degree) scale($scale);
    -moz-transform: perspective($perspective) rotateY($degree) scale($scale);
    -o-transform: perspective($perspective) rotateY($degree) scale($scale);
}

@include keyframes(thumbTilt) {
    0% {
        @include transform();
    }
    20% {
        @include transform(400px, -13deg, 1.05);
    }
    100% {
        @include transform(400px, 0deg, 1.1);
    }
}
