@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browser: '-webkit-' !global;
        @content;
    }
    @-moz-keyframes #{$animationName} {
        $browser: '-moz-' !global;
        @content;
    }
    @-o-keyframes #{$animationName} {
        $browser: '-o-' !global;
        @content;
    }
    @keyframes #{$animationName} {
        $browser: '' !global;
        @content;
    }
}

$browser: null;
@include keyframes(stretch) {
    0% {
        transform: scale(.3);
        background-color: $red;
        border-radius: 100%;
    }
    50% {
        background-color: $green;
    }
    100% {
        transform: scale(1.5);
        background-color: $blue;
    }
}

@include keyframes(opacity) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
