body {
  color: blue; }
  body h1 {
    background-color: yellow;
    float: none; }
  body h2 {
    width: 1000px;
    height: 1000px;
    text-align: center;
    color: darkgoldenrod; }

body {
  color: red !important; }
  body h1 {
    color: yellow; }
  body h2 {
    color: green; }
  body h3 {
    color: black; }
