* {
  margin: 0;
  padding: 0; }

body {
  color: red; }
  body h1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation: A 5s linear;
    -moz-animation: A 5s linear;
    -o-animation: A 5s linear;
    animation: A 5s linear; }
  body h2 {
    width: 1000px;
    height: 1000px;
    text-align: center;
    color: darkgoldenrod; }

@-webkit-keyframes A {
  0% {
    left: 0; }
  100% {
    left: 200px; } }

@-moz-keyframes A {
  0% {
    left: 0; }
  100% {
    left: 200px; } }

@-o-keyframes A {
  0% {
    left: 0; }
  100% {
    left: 200px; } }

@keyframes A {
  0% {
    left: 0; }
  100% {
    left: 200px; } }

#mony {
  color: blue; }
